<h1>User Registration</h1>

<form method="POST" action="{{ path('RndBoxAuthBundle_registration') }}">
    {{ form_widget(form) }}

    <input type="submit" name="login" id="login" value="Signup Now!">
</form>